body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('C:/Users/Sreenivas/Desktop/Desktop_Files/MS Docs/New Haven/Courses/Fall 2023/DE/Final_Project/static/images/bg.jpg'); /* Add the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 200px;
    margin: 50px auto;
    background-color: #cdf2f771;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#predictionResult {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}
